<nav class="navbar">
  <div class="navbar-brand">
    <!-- Vous pouvez ajouter le logo ou le nom de votre application ici -->

    <!--  <img src="assets/xHorizontal-logo-color2.png.pagespeed.ic.l5nH8JJCb4.webp" alt="Logo de l'entreprise" class="brand-logo">-->
</div>
<ul class="navbar-menu">
  <li><a routerLink="/anpr">Détection des plaques</a></li>
  <li><a routerLink="/recherche-historique">Historique</a></li>
  <li><a routerLink="/detect-brand">brand</a></li>
  <li><a routerLink="/faq">Faq?</a></li>

</ul>
<div class="navbar-buttons">
  <button (click)="handleLogout()" class="styled-button">Se déconnecter</button>
</div>
</nav>
